.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-1 .u-audio-1 {
  width: 500px;
  margin: 30px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 57px;
  height: 57px;
  margin: 66px auto 0 573px;
}

.u-section-1 .u-shape-2 {
  width: 62px;
  height: 57px;
  margin: -57px auto 0 510px;
}

.u-section-1 .u-shape-3 {
  width: 62px;
  height: 59px;
  margin: 0 auto 0 510px;
}

.u-section-1 .u-shape-4 {
  width: 57px;
  height: 59px;
  margin: -59px auto 60px 573px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: 473px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 410px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 410px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 363px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 363px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: 244px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 244px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-audio-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 144px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 144px;
  }
}